  <h1>TODO 一覧</h1>

  <div class="loading" ng-show="loading">
    <p style="color: #aaa;">ロード中...</p>
  </div>

  <div class="todo-area" ng-hide="loading">
    <div class="table-responsive" ng-hide="loading">
      <table class="table table-striped table-bordered table-hover">
        <tbody>

          <!-- 新規登録フォーム -->
          <tr class="todo-entry-form">
            <td>
              <div class="input-group">
                <form ng-submit="saveNewTodo($event, newtodo)" >
                  <input type="text" class="form-control" ng-model="newtodo.content" placeholder="新規 TODO 内容" autofocus />
                </form>
                <span class="input-group-btn">
                  <a class="btn btn-mini btn-primary" href="/todos" ng-click="saveNewTodo($event, newtodo)">
                    <span class="glyphicon glyphicon-ok"></span>
                  </a>
                </span>
              </div>
            </td>
          </tr>

          <!-- 表示、編集フォーム -->
          <tr class="todo-item" ng-repeat="todo in todos | orderBy:'-id'">
            <td>
              <!-- 表示時 -->
              <div ng-hide="todo.editing">
                <div class="pull-left">
                  <input class="btn btn-lg btn-default glyph-icon" type="checkbox" ng-model="todo.done" ng-change="doneEditTodo($event, todo)" />
                </div>
                <span class="pull-right">
                  <a class="btn btn-lg btn-default" ng-click="removeTodo($event, todo)" href="/todos/{{ todo.id }}" rel="nofollow">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </span>
                <div class="todo-content" ng-click="editTodo($event, todo)">
                  {{todo.content}}
                </div>
              </div>

              <!-- 編集時 -->
              <div class="input-group" ng-show="todo.editing">
                <form ng-submit="doneEditTodo($event, todo)" >
                  <input type="text" class="form-control" ng-model="todo.content" placeholder="TODO 内容" todo-focus="todo.editing" />
                </form>
                <span class="input-group-btn">
                  <a class="btn btn-mini btn-primary" href="/todos" ng-click="doneEditTodo($event, todo)">
                    <span class="glyphicon glyphicon-ok"></span>
                  </a>
                </span>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
