  <h1>TODO 一覧</h1>

  <div class="loading" ng-show="loading">
    <p style="color: #aaa;">ロード中...</p>
  </div>

  <div class="todo-area" ng-hide="loading">
    <div class="table-responsive" ng-hide="loading">
      <table class="table table-striped table-bordered table-hover">
        <tbody>
          <tr class="todo-item" ng-repeat="todo in todos">
            <td>
              <div class="input-group">
                <span class="input-group-addon" ng-show="todo.id">
                  <input type="checkbox" ng-model="todo.done"/>
                </span>
                <form ng-submit="doneEditTodo($event, todo)">
                  <input type="text" class="form-control" ng-model="todo.content" ng-disabled="todo.id" />
                </form>
                <div class="input-group-btn" ng-show="todo.id">
                  <a class="btn btn-mini btn-default" href="/todos/{{ todo.id }}/edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                  <a class="btn btn-mini btn-default" ng-click="removeTodo($event, todo)" href="/todos/{{ todo.id }}" rel="nofollow">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </div>
                <div class="input-group-btn" ng-hide="todo.id">
                  <a class="btn btn-mini btn-primary" href="/todos" ng-click="doneEditTodo($event, todo)">
                    <span class="glyphicon glyphicon-ok"></span>
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <a class="btn btn-mini btn-primary" href="/todos/new" ng-click="newTodo($event)" rel="nofollow">
      <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;追加する
    </a>
  </div>
