.loading {
  &.ng-hide-add {
    -webkit-transition:all linear 0.2s;
    -moz-transition:all linear 0.2s;
    -o-transition:all linear 0.2s;
    transition:all linear 0.2s;
    display:block!important;
    opacity: 1;
    &.ng-hide-add-active {
      opacity: 0;
    }
  }
}
.todo-area {
  &.ng-hide-remove, &.ng-hide-add {
    -webkit-transition:all linear 0.2s 0.3s;
    -moz-transition:all linear 0.2s 0.3s;
    -o-transition:all linear 0.2s 0.3s;
    transition:all linear 0.2s 0.3s;
    display:block!important;
    opacity: 0;
    &.ng-hide-remove-active {
      opacity: 1;
    }
  }

  tr.ng-leave {
    -webkit-transition:all linear 0.2s;
    -moz-transition:all linear 0.2s;
    -o-transition:all linear 0.2s;
    transition:all linear 0.2s;
    opacity: 1;
    &.ng-leave-active {
      opacity: 0;
    }
  }

  tr.ng-enter {
    -webkit-transition:all linear 0.2s;
    -moz-transition:all linear 0.2s;
    -o-transition:all linear 0.2s;
    transition:all linear 0.2s;
    opacity: 0;
    &.ng-enter-active {
      opacity: 1;
    }
  }
}

.todo-item {
  input[type=checkbox] {
    height: 44px;
    width: 44px;
    margin-top: 0;
    padding: 10px 14px;
    color: #ccc;
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
    appearance:none;

    &:checked {
      color: #fff;
      background-color: #5cb85c;
      border-color: #4cae4c;
    }
    &:after {
      content: "✔";
      display: inline-block;
      visibility: visible;
    }
    &:focus {
      outline: none;
    }
  }

  .todo-content {
    height: 45px;
    padding: 9px 8px;
    font-size: 18px;
    margin-left: 48px;
    margin-right: 48px;

    &.done {
      color: #aaa;
      text-decoration: line-through;
    }
  }

}
