<header class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">Todo さん</a>
    </div>
    <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" role="form" action="/sessions/destroy">
        <button class="btn" type="submit">ログアウト</button>
      </form>
    </div>
  </div>
</header>
